%content-width {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  width: 70%;
}

.content-width,
.site-content {
  @extend %content-width;
}

img,
video,
iframe {
  max-width: 100%;
}
