.main-navigation {
  position: relative;
}

.site-header {
  position: relative;

  > * {
    position: relative;
    z-index: 100;
  }

  &::after {
    content: " ";
    display: block;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

}

.main-navigation li {
  &,
  a {
    display: block;
  }
}

.menu-toggle {
  text-indent: -9999rem;
  background: rgba(0, 0, 0, 0);
  border: 3px solid rgba(255, 255, 255, 1);
  width: 3rem;
  height: 2.5rem;
  margin: 1rem auto;
  position: relative;

  &::after {
    content: " ";
    display: block;
    border-top: double 10px white;
    border-bottom: solid 3px white;
    padding-top: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
  }
}
