.site-logo {
  background: url(../imgs/IcelandVr360Logo_white.png);
  background-size: 100% auto;
  width: px-to-rem(150);
  height: px-to-rem(102);
  display: block;
  text-indent: -99999rem;
  overflow: hidden;

  .site-title & {
    margin: 0 auto;
  }
}

.site-branding {
  padding: 3vw 0 2vw;
}
.site-header {
  background: $color-dark-bg url(../imgs/panorama-bgs/Jokulsarlon_2800x700.jpg) center center;
  background-size: cover;

  a {
    color: $color-links-reverse;
  }

  + * {
    padding-top: 3rem;
  }
}

.nav-menu {
  background: rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);

  li {
    vertical-align: top;
  }

  a {
    padding: 0.5em 1em;
    font-size: 1rem;
    transition: background 0.4s;
    background: rgba(255, 255, 255, 0);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    &:focus,
    &:hover {

      &::before {
        height: 100%;
      }
    }

    &::before {
      content: " ";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: rgba(255, 255, 255, 0.2);
      transition: height 0.2s 0s;
    }
  }

  .current-menu-item a {
    background: rgba(255, 255, 255, 0.1);

    &::before {
    }
  }
}

.main-navigation {
  text-align: center;

  li {
    float: none;
    display: inline-block;
  }
}
