body.single-virtualtour,
body.single-themedvirtualtour,
body.single-panorama {
  .site-content {
    max-width: none;
    width: 100%;
  }

  .site-header + * {
    padding-top: 0;
  }

  .site-branding {
    padding: 0;
  }

  .site-logo {
    // width: 9.375rem; // 150
    // height: 6.375rem; // 102
    // width: 5.5rem; // 88
    // height: 3.75rem; // 60
  }

  main .site-content {
    @extend %content-width;
  }

  .site-footer {
    margin-top: 0;
  }

  &.admin-bar {
    #page .site-main {
      height: calc(100vh - #{px-to-rem(143)} - 32px);

      @media only screen and (max-width: px-to-rem(900)) {
        height: auto;
      }
    }
  }

  .small-screen-tip {
    display: none;
    text-align: center;
    padding: 0.2em 1rem;
    line-height: 1.1;
  }

  #page .site-main {
    display: flex;
    height: calc(100vh - #{px-to-rem(143)});

    .panorama-iframe {
      width: 70%;
      height: 100%;
    }

    .site-content {
      width: 30%;
      height: 100%;
      min-width: px-to-rem(100);
      padding: 1.5rem;
      overflow: auto;
    }

    @media only screen and (max-width: px-to-rem(900)) {
      display: block;
      height: auto;

      .panorama-iframe,
      .site-content {
        width: 100%;
        margin-left: auto;
        margin-right: auto
      }

      .panorama-iframe {
        height: calc(80vh - #{px-to-rem(143)});
        border: solid #333;
        border-width: 15px 30px;
      }

      .small-screen-tip {
        display: block;
      }

      @media only screen and (orientation: landscape) {
        .panorama-iframe {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 100000;
          border: 0;
        }
      }
    }
  }
}


.panorama-iframe {
  border: 0;
  width: 100%;
}
