.ratio {
  height: 0;
  position: relative;

  > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &.ratio-16x9 {
    padding-bottom: 56%;
  }

  &.ratio-1x1 {
    padding-bottom: 100%;
  }
}
