h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
}

.assist {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

iframe {
  border: 0;
}
