$sans-serif: 	"proxima-nova", sans-serif;
$sans-light: 400;
$sans-regular: 400;
$sans-bold: 700;
$serif: 	"eskorte-latin", serif;
$serif-light: 400;
$serif-regular: 400;
$serif-bold: 700;

html {
  font-family: $sans-serif;
  font-weight: $sans-light;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $serif;
  font-weight: $serif-regular;
}

h2,
.h2 {
  font-size: 1.4rem;
  margin-bottom: 1.4em;
  border-bottom: 3px solid $color-2;
}

.page-header {
  margin-bottom: 2rem;
}

a {
  &,
  &:focus,
  &:hover,
  &:visited {
    color: $color-links;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.post-navigation {
  a {
    background: $color-light-bg;
    color: $color-light-text;
    display: block;
    padding: 0.4em 0.5em;
    text-decoration: none;

    &:focus,
    &:hover {
      color: $color-links;
      background: lighten($color-light-bg, 2);
    }
  }
}
