@import "config";
@import "reset";
@import "grid";
@import "typography";

*,
body {
  font-family: inherit;
  font-weight: inherit;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background: $color-white;
  color: $color-text;
}

a {
  color: $color-links;
}

.intro {
  max-width: 21rem;
  margin: 0 auto 3rem 0;

  strong {
    font-size: 1.5em;
  }
}

.intro + * {
  clear: both;
  padding-top: 2rem;
}

@import "header";
@import "ratios";
@import "components/cards";
@import "components/footer";
@import "components/ads";
@import "components/content";
@import "components/seemore";
@import "components/search";
@import "panoramas";
