#primary {
  position: relative;
}

.sidead {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 2%;
  width: 18%;
}

.sidead-text {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.insidead {
  margin-left: 2rem;
  position: relative;

  .insidead-text {
    border-bottom: 2px solid #222;
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

body .fb-like {
  display: block;
  background: #eee;
  padding: 0.75rem 1.5rem;
  margin: -1.5rem -1.5rem 0;
  text-align: right;
  min-height: 52px;
}

.insidead-ad {
  width: 100%;
  height: auto;
}

.insidead-ads {
  display: flex;

  a {
    opacity: 0.9;
    transition: transform 0.25s, opacity 0.25s;

    &:focus,
    &:hover {
      opacity: 1;
      transform: scale(0.9);
    }
  }
}

.site-main-intro {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;

  .intro {
    width: 35%;
  }
  .insidead {
    width: 65%;
  }

  @media only screen and (max-width: 978px) {
    flex-direction: column-reverse;

    .intro,
    .insidead {
      width: 100%;
      margin-left: 0;
    }

    .insidead {
      margin-bottom: 2rem;
    }

    .intro {
      max-width: none;
    }
  }
}
