.CardList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1%;

  &,
  > li {
    padding: 0;
  }

  > li {
    padding: 0;
    width: 23%;
    margin: 0 1% 1rem;
    box-sizing: content-box;

    @media screen and (max-width: px-to-rem(950)) {
      width: 48%;
    }
  }
}

.Card {
  max-width: px-to-rem(400);
  // min-width: px-to-rem(200);
  width: 100%;
  padding: 0;
  position: relative;
  overflow: hidden;
  border-radius: 4px;

  > .Card-link {
    overflow: hidden;
    display: block;
    color: inherit;
  }

  * {
    margin: 0;
    padding: 0;
  }

  header .ratio {
    background: rgba(0, 0, 0, .05);
  }
}

.Card-link {
  color: inherit;
  text-decoration: none;

  &::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
  }

  &::before {
    background: $color-cards-bg;
    transition: background-color 0.4s;
  }

  .ratio {
    transition: transform 4s, filter 4s;
    filter: saturate(70%);
  }

  &:focus,
  &:hover {
    &::before {
      background: $color-cards-bg-highlight;
    }

    .ratio {
      filter: saturate(100%);
    }
  }
}

.Card-title,
.Card-content {
  padding: 0 1rem;
  line-height: 1;
  text-align: left;
  position: relative;
  z-index: 10;
}

.Card-title {
  padding-top: 0.8em;
  margin-bottom: 0.3em;
  font-size: 1.2rem;
  border: none;
  color: $color-links-reverse;
}

.Card-content {
  padding-bottom: 0.8em;
}

.Card-meta > * {
  display: inline-block;
  text-transform: lowercase;
  font-size: 0.9em;
  color: $color-white;
  opacity: 0.5;

  &::before {
    content: '#';
  }
}
