.entry-content {
  p,
  li {
    margin: 0 0 1em;
  }
}

.entry-content-type {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8em;
  background: $color-links;
  color: $color-medium-bg;
  padding: 0.3em 0.8em;
}

.site-content {
  display: flex;
  flex-direction: column;

  .hentry {
    flex-grow: 1;
  }
}
