.site-footer {
  display: block;
  text-align: center;
  padding: 2rem;
  background: $color-light-bg;
  margin-top: 10vh;
  color: $color-light-text;
}

// sticky footer
#page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .site-content {
    flex-grow: 1;
  }

  .admin-bar & {
    min-height: calc(100vh - 32px);
  }
}
