.assist {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.site-content {
  position: relative;
}

.site-header {
  position: relative;
  z-index: 1010;
}

#iceland360vr-results:target {
  form {
    padding-top: 4rem;
  }
}

#page {
  overflow-x: hidden;
}

.menu-item a[href="#search"] {
  position: relative;
  font-size: 0;
  width: 3rem;
  text-align: center;
  height: 2.5rem;

  &::after {
    content: ' ';
    display: inline-block;
    width: 1.625rem;
    height: 1.625rem;
    background: url(../imgs/search.svg);
    background-size: 1.625rem;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  @media only screen and (max-width: 900px) {
    width: 100%;
  }
}

.iceland-search-form {
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 5%;
  z-index: 1000;
  border-radius: 0 0 10px 10px;
  transform: translate3d(0, -100%, 0);
  transition: transform 0.25s;

  @media only screen and (max-width: 900px) {
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100000;

    .search-results & {
      width: 150%;
      margin-left: -25%;
    }

    .search-form-field {
      input[type="search"],
      button[type="submit"] {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        font-size: 0.875rem;
      }
    }
  }

  form {
    background: rgba(238,238,238, 0.9);
    padding: 2rem;
  }

  &[hidden] {
    display: none;
  }

  .is-showSearch &,
  .search-results &,
  .search-no-results & {
    transform: translate3d(0, 0, 0);
  }

  .search-results &,
  .search-no-results & {
    display: block;
    position: static;
    margin-top: -3rem;
    margin-bottom: 1rem;
  }

  .search-form-field {
    display: flex;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }

  input[type="search"],
  button[type="submit"] {
    height: 3rem;
    font-size: 1rem;
    padding: 0.5rem 1.5rem 0.3rem;
    display: inline-block;
    vertical-align: top;
  }

  input[type="search"] {
    border-radius: 2px 0px 0px 2px;
    border-right: 0;
    border-color: $color-dark-bg;
    width: 100%;
    -webkit-appearance: none;

    &:focus {
      outline: 0;
      color: $color-dark-bg;
    }
  }

  button[type="submit"] {
    border-radius: 0px 2px 2px 0px;
    white-space: nowrap;
    outline: 0;
    cursor: pointer;

    background: $color-dark-bg;
    border-color: $color-dark-bg;
    color: $color-links-reverse;

    transition: background-color 0.25s, border-color 0.25s;

    &:focus,
    &:hover {
      background: $color-text;
      border-color: $color-text;
    }
  }
}
