.see-more {
  .CardList + & {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  a {
    float: right;
    display: block;
    padding: 0.5em 1.5em 0.4em;
    text-decoration: none;
    text-transform: lowercase;
    letter-spacing: 1px;
    background: $color-links;
    color: $color-white;
    border-radius: 4px;
    transition: background 0.3s;
    position: relative;

    &:focus,
    &:hover {
      background: $color-dark-bg;
    }

    &:active {
      top: 1px;
      left: 2px;
    }
  }

  &::after {
    content: ' ';
    display: table-cell;
    clear: both;
  }
}
