// BASE
$color-1: #47612E;
$color-2: #52663d;
$color-3: #f1f1f1;
$color-4: #eee;
$color-5: #386a6a; // dark teal
$color-5-1: #359e9e; // lighter teal
$color-6: #363636; // dark gray
$color-7: #9a9a9a; // light gray

$color-white: #fff;

// semantic colors
$color-light-bg: $color-4;
$color-medium-bg: $color-3;
$color-dark-bg: $color-5;
$color-text: $color-6;
$color-light-text: $color-7;
$color-links: $color-5-1;
$color-links-reverse: $color-4;
$color-cards-bg: $color-6;
$color-cards-bg-highlight: $color-2;
